
<ul class="flex ms-10 p-3">
    <li> Home </li>
    
    <li>/ About </li>
</ul>
<div class="grid md:grid-cols-2 gap-12">
    <div class="ms-10 mt-4" >
        <h1>Our Story</h1>
        <p>
            Launced in 2015, Exclusive is South Asia’s premier online
             shopping makterplace with an active presense in Bangladesh. 
             Supported <br> by wide range of tailored marketing, data and
              service solutions, Exclusive has 10,500 sallers and 300
               brands and serves 3 <br> millioons customers across the region. 
        </p>
        <p class="mt-6">
            Exclusive has more than 1 Million products to offer,
             growing at a <br> very fast. Exclusive offers a diverse 
             assotment in categories <br> ranging  from consumer.
        </p>

    </div>

    <div>
        <img src="/images/fcc89aaa7b85f8c1dcce81e71e2eb178be13bd4d.jpg" alt="">

    </div>

</div>
<app-icons></app-icons>
<app-services></app-services>
<app-feature></app-feature>