




<footer class="bg-black text-white py-12">
  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-5 gap-14">
    
    <div>
      <h3 class="text-lg font-semibold mb-2">Exclusive</h3>
      <p class="mb-4">Subscribe</p>
      <p class="mb-4 text-[12px]">Get 10% off your first order</p>
      <form class="flex border border-gray-500 rounded overflow-hidden">
        <input
          type="email"
          placeholder="Enter your email"
          class="flex-1 bg-transparent px-3 py-2 text-sm focus:outline-none"
        />
        <button type="submit" class="bg-white text-black px-3">
          &#10148;
        </button>
      </form>
    </div>

    
    <div>
      <h3 class="text-lg font-semibold mb-2">Support</h3>
      <p class="text-sm mb-3">
        111 Bijoy sarani, Dhaka
      </p>
      <p class="text-sm mb-3">DH 1515, Bangladesh.</p>
      <p class="text-sm mb-3">exclusivegmail.com</p>
      <p class="text-sm">+88015-88888-9999</p>
    </div>

   
   <div>
  <h3 class="text-lg font-semibold mb-2">Account</h3>
  <ul class="space-y-4 text-sm">
    <li class="hover:underline">My Account</li>
    <li class="hover:underline">Login / Register</li>
    <li class="hover:underline">Cart</li>
    <li class="hover:underline">Wishlist</li>
    <li class="hover:underline">Shop</li>
  </ul>
</div>


   
    <div>
  <h3 class="text-lg font-semibold mb-2">Quick Link</h3>
  <ul class="space-y-4 text-sm">
    <li class="hover:underline">Privacy Policy</li>
    <li class="hover:underline">Terms Of Use</li>
    <li class="hover:underline">FAQ</li>
    <li class="hover:underline">Contact</li>
  </ul>
</div>


    
    <div>
      <h3 class="text-lg font-semibold mb-2">Download App</h3>
      <p class="text-[10px] mb-2">Save $3 with App New User Only</p>

     
      <div class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <img
          src="/images/Qr Code.png"
          alt="QR Code"
          class="w-20 mb-2 sm:mb-0"
        />
        <div class="flex flex-col gap-2">
          <img
            src="/images/png-transparent-google-play-store-logo-google-play-app-store-android-wallets-text-label-logo.png"
            alt="Google Play"
            class="w-24"
          />
          <img
            src="/images/download-appstore.png"
            alt="App Store"
            class="w-24"
          />
        </div>
      </div>

     
      <div class="flex gap-8 mt-4 text-white">
        <i class="fa-brands fa-facebook-f hover:text-gray-400"></i>
        <i class="fa-brands fa-twitter hover:text-gray-400"></i>
        <i class="fa-brands fa-instagram hover:text-gray-400"></i>
        <i class="fa-brands fa-linkedin hover:text-gray-400"></i>
      </div>
    </div>
  </div>

 
  <div
    class="mt-8 text-center text-xs text-[#2F2E30]"
  >
    &copy; Copyright Rimel 2022. All right reserved
  </div>
</footer>
