
h1
{
    font-size: 70px;
    text-align: center;
    font-weight: 600;

}

button
{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}