

<nav class="bg-[#FAFAFA] border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">
   
    <h1 class="exclusive">Exclusive</h1>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden flex-grow w-full md:flex md:w-auto" id="navbar-default">
      <ul class=" me-auto font-medium flex flex-col p-4 md:p-0 mt-2  rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse  ">
        <li>
          <a class="block py-2 ms-60 px-3 text-gray-900 " aria-current="page">Home</a>
        </li>
        <li>
          <a  class="block py-2 px-3  text-gray-900 ">Contact</a>
        </li>
        <li>
          <a  class="block py-2 px-3  text-gray-900 ">About</a>
        </li>
        <li>
          <a  class="block py-2 px-3  text-gray-900 ">Sign Up</a>
        </li>
       
        
      </ul>




       <ul class="ms-auto font-medium flex flex-col p-4 md:p-0 mt-2  md:flex-row md:space-x-2 rtl:space-x-reverse  ">
        
        
        <li>
          
<form class="max-w-md mx-auto">   
    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
       
        
        <input type="search" id="default-search" class="block w-full p-2 ps-10 text-sm
         text-gray-900 border border-gray-300 rounded-lg bg-gray-50 
        " placeholder="what are you looking for?" required />
       
         <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
    </div>
</form>

        </li>
        <li>
          <a  class="block py-2 px-3 text-gray-900 "><i class="fa-solid fa-heart"></i></a>
        </li>
        <li>
          <a class="block py-2 px-3 text-gray-900 "><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
       
        
      </ul>
    </div>
  </div>
</nav>

