<ul class="flex ms-10 p-3 text-gray-500">
  <li class="hover:text-black cursor-pointer">Account</li>
   <li class="mx-2">/</li>
  <li class="hover:text-black cursor-pointer">MyAccount</li>
   <li class="mx-2">/</li>
  <li class="hover:text-black cursor-pointer">Product</li>
   <li class="mx-2">/</li>
  <li class="hover:text-black cursor-pointer">View Cart</li>
   <li class="mx-2">/</li>
  <li class="hover:text-black cursor-pointer">Account</li>
  <li class="mx-2">/</li>
  <li class="text-black font-medium">CheckOut</li>
</ul>

<h3>fsyjgsk</h3>
<div class="ms-10 p-3">
    <h2 class="text-[40px] mb-5">Billing Details</h2>
    <div class="grid md:grid-cols-2 gap-64">

        <div>
            
  <form>
    
    
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required />
    </div> 
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Company Name</label>
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required />
    </div> 
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Street Address</label>
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required />
    </div> 
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apartment,Floor,etc.(Options)</label>
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required />
    </div> 
    <div class="mb-6">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Town / City</label>
        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required />
    </div> 
    <div class="mb-6">
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
        <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required />
    </div> 
    <div class="mb-6">
        <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email Address</label>
        <input type="password" id="confirm_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required />
    </div> 
    <div class="flex items-start mb-6">
        <div class="flex items-center h-5">
        <input id="remember" type="checkbox" value=""
         class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3
          focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600
           dark:focus:ring-blue-600 dark:ring-offset-gray-800" required />
        </div>
        <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            Save This information For Faster Checkout next time</label>
    </div>
   
    
</form>


        </div>
        <div >
            <div class="flex justify-between items-center gap-7 ">
               
                <div class="flex gap-4 items-center">
                <img src="/images/fcc89aaa7b85f8c1dcce81e71e2eb178be13bd4d.jpg"
                class="h-12 w-12"
                alt="">
                <span>LCD Monitor</span>
                </div>
                <h2>650$</h2>
            </div>


             <div class="flex justify-between items-center gap-7 my-12">
               
                <div class="flex gap-4 items-center">
                <img src="/images/fcc89aaa7b85f8c1dcce81e71e2eb178be13bd4d.jpg"
                class="h-12 w-12"
                alt="">
                <span>LCD Monitor</span>
                </div>
                <h2>650$</h2>
            </div>

            <div class="flex justify-between items-center gap-7 my-7">
                <h2>Subtotal:</h2>
                <h2>$1750</h2>

            </div>
            <hr class="my-3 ">
             <div class="flex justify-between items-center gap-7 my-7">
                <h2>Shooping:</h2>
                <h2>Free</h2>

            </div>
              <hr class="my-3 ">

              <div class="flex justify-between items-center gap-7 my-7">
                <h2>Total:</h2>
                <h2>$1750</h2>

            </div>
         <div class="flex justify-between items-center gap-7 my-7">
                
                
           <div class="flex items-center mb-4">
           <input id="default-radio-1"
            type="radio" value="" name="default-radio" 
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300
             focus:ring-blue-500 dark:focus:ring-blue-600
              dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
           <label for="default-radio-1"
            class="ms-2 text-sm font-medium text-gray-900
             dark:text-gray-300">Default radio</label>
         </div>


        
         <div class="flex justify-center items-center gap-5">
         <img src="/images/image 32.png" alt="">
         <img src="/images/image 30.png" alt="">
         <img src="/images/image 31.png" alt="">
         <img src="/images/image 33.png" alt="">

         </div>


         

            </div>

             <div class="flex justify-between items-center gap-7 my-7">
                
                
           <div class="flex items-center mb-4">
           <input id="default-radio-1"
            type="radio" value="" name="default-radio" 
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300
             focus:ring-blue-500 dark:focus:ring-blue-600
              dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
           <label for="default-radio-1"
            class="ms-2 text-sm font-medium text-gray-900
             dark:text-gray-300">Default radio</label>
           </div>


            </div>

            <div class="flex items-center gap-12">
                
                <button class="bg-white px-12 p-2 rounded-[6px] text-start text-[#000000] border border-[#000000] border-1">Coupon Code</button>

                <button class="bg-red-500 px-6 p-2 rounded-[6px] text-white">Apply Coupon</button>
            </div>


            <div class="my-4">
                <button class="bg-red-500 px-6 p-2 rounded-[6px] text-white">Apply Coupon</button>
            </div>

        </div>

    </div>
</div>
