<div class="container ">
      

 
    <div>
         <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        
        <div class="w-[370px] h-[430px] bg-[#F5F5F5] rounded-[4px] shadow-sm flex justify-center">
  <a >
    <img class="rounded" src="/images/image 46.png" alt="" />
  </a>
</div>

  <h2>Tom Cruise</h2>
  <p>Founder & Chairman</p>
  <div class="flex  space-x-4 mt-4">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>

    </ng-template>  
   
    <ng-template carouselSlide>
        
        <div class="w-[370px] h-[430px] bg-[#F5F5F5] rounded-[4px] shadow-sm flex justify-center">
  <a >
    <img class="rounded" src="/images/image 51.png" alt="" />
  </a>
</div>

  <h2>Tom Cruise</h2>
  <p>Founder & Chairman</p>
  <div class="flex  space-x-4 mt-4">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>

    </ng-template>  
   
    <ng-template carouselSlide>
        
        <div class="w-[370px] h-[430px] bg-[#F5F5F5] rounded-[4px] shadow-sm flex justify-center">
  <a >
    <img class="rounded" src="/images/image 47.png" alt="" />
  </a>
</div>

  <h2>Tom Cruise</h2>
  <p>Founder & Chairman</p>
  <div class="flex  space-x-4 mt-4">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>

    </ng-template>  
   


     <ng-template carouselSlide>
        
        <div class="w-[370px] h-[430px] bg-[#F5F5F5] rounded-[4px] shadow-sm flex justify-center">
  <a >
    <img class="rounded" src="/images/image 46.png" alt="" />
  </a>
</div>

  <h2>Tom Cruise</h2>
  <p>Founder & Chairman</p>
  <div class="flex  space-x-4 mt-4">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>

    </ng-template>  
   
    <ng-template carouselSlide>
        
        <div class="w-[370px] h-[430px] bg-[#F5F5F5] rounded-[4px] shadow-sm flex justify-center">
  <a >
    <img class="rounded" src="/images/image 51.png" alt="" />
  </a>
</div>

  <h2>Tom Cruise</h2>
  <p>Founder & Chairman</p>
  <div class="flex  space-x-4 mt-4">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>

    </ng-template>  
   
    <ng-template carouselSlide>
        
        <div class="w-[370px] h-[430px] bg-[#F5F5F5] rounded-[4px] shadow-sm flex justify-center">
  <a >
    <img class="rounded" src="/images/image 47.png" alt="" />
  </a>
</div>

  <h2>Tom Cruise</h2>
  <p>Founder & Chairman</p>
  <div class="flex  space-x-4 mt-4">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-linkedin"></i>
  </div>

    </ng-template>  
   
     
  </owl-carousel-o>
    </div>
</div>
