

<div class="container">
    <div class="cards mt-5 p-3">

<div class="card">
    <i class="fa-solid fa-store text-[20px]"></i>
    <h2>10.5K</h2>
    <p>Sallers active our site</p>

</div>
<div class="card">
    <i class="fa-solid fa-dollar-sign text-[20px]"></i>
    <h2>33K</h2>
    <p>Mopnthly Produduct Sale</p>

</div>
<div class="card">
   <i class="fa-solid fa-suitcase text-[20px]"></i>
    <h2>45.5K</h2>
    <p>Customer active in our site</p>

</div>
<div class="card">
    <i class="fa-solid fa-sack-dollar text-[20px]"></i>
    <h2>25K</h2>
    <p>Anual gross sale in our site</p>

</div>
</div>
</div>
